server:
  port: 0
spring:
  application:
    name: pr-search
eureka:
  client:
    serviceUrl:
      defaultZone: http://pr-eureka-server:8761/eureka
    instance:
      id: ${spring.application.name}:${spring.application.instance_id:${random.value}}
key:
  intx: